*{
   margin: 0;
   padding: 0; 
}
body{
    background-color: #f9f9f9;  
}
#check{
    display: none;
    /*retira o checkbox da tela*/
}

#icon{
    cursor: pointer;
    /*Muda o estilo do cursor ao sobrepor a imagem*/
    padding: 15px;
    position: absolute;
    z-index: 1;
}

.bar{
    background-color: #333 ;
    height: 100%;
    width: 200px;
    position: absolute;
    transition: all .2s linear;
    left: -300px;
}
nav{
    width: 100%;
    position: absolute;
    top: 60px;
}
nav a{
    text-decoration: none;
}
.link{
    background-color: #494950;
    padding: 20px;
    font-family: 'Arial';
    font-size: 12pt;
    transition: all .2s linear;
    color: #f4f4f9;
    border-bottom: 2px solid #222;
    opacity: 0;
    margin-top: 200px;

}
.link:hover{
    background-color: #050542;
}

/*transição da barra saindo de -300px indo até 300px*/
#check:checked ~ .bar{
    transform: translateX(300px);    
}
/*transição links*/
#check:checked ~ .bar nav a .link{
    opacity: 1;  
    margin-top: 0;
    transition-delay: .2s;
}
/*menu*/
/*ACRESCENTAR NO MENU OS LOGOS E AS REDES SOCIAIS AOU INVÉS DE "HOME CONTATO..."*/
/*body{
    font-family: 'Kanit', sans-serif;  
}

header{
    background:url(img/footer.jpg);  
    padding: 20px 0 ;
}

.menu{
    position: relative;
    width: 85%;
    margin: 0 100px;
}
.logoimg{
    width: 100px; 
    height: 200px;
}

.logoimg:hover{
    transition: 1500ms;
    transform: rotate3d(0, 1, 0, 360deg);
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color:rgb(56,56,56);
    text-shadow: 1px 1px black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover{
    transition: 400ms;
    color: #003366; 
}
*/

/*main*/
/*
main{
    height: 100%;
   background: linear-gradient(-90deg,rgb(60,67,84), rgb(16,16,16), rgb(32,32,32),rgb(48,48,48),rgb(32,32,32), rgb(16,16,16),rgb(60,67,84));
   text-align: center;
}
main p{
    font-family: 'Teko', sans-serif;
    text-align: center;
    position: absolute;
    padding: 200px;
    font-size: 20px;
}
*/
/*footer*/
/*
footer{
    text-align: center;
    background:url(img/footer.jpg);  
    padding: 100px 0;
}

.copyright{
    position: relative;
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 13px;
    font-weight: lighter;    
}
*/