*{
   margin: 0;
   padding: 0; 
}
body{
    background-color: #f9f9f9;  
}
#check{
    display: none;
    /*retira o checkbox da tela*/
}

#icon{
    cursor: pointer;
    /*Muda o estilo do cursor ao sobrepor a imagem*/
    padding: 15px;
    position: absolute;
    z-index: 1;
}

.bar{
    background:url(img/logo.jpeg);
    height: 100%;
    width: 200px;
    position: absolute;
    transition: all .2s linear;
    left: -300px;
}
nav{
    width: 100%;
    position: absolute;
    top: 60px;
}
nav a{
    text-decoration: none;
}
.link{
    padding: 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 12pt;
    transition: all .2s linear;
    color: #f4f4f9;
    border-bottom: 2px solid #222;
    opacity: 0;
    margin-top: 200px;

}
.link:hover{
    transition: 500ms;
    background-color: #03030375;
}

/*transição da barra saindo de -300px indo até 300px*/
#check:checked ~ .bar{
    transform: translateX(300px);    
}
/*transição links*/
#check:checked ~ .bar nav a .link{
    opacity: 1;  
    margin-top: 0;
    transition-delay: .2s;
}
.copyright{
    text-align: center;
    top: 90%;
    position: relative;
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 13px;
    font-weight: lighter; 
    text-shadow: 1px 1px #000   
}

/*main*/

main{
width: 100%;
height: 100%;
text-align: center;
}

main p{
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    position: relative;
    padding: 30px;

}
.fotoPerfil{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 100px;
    box-shadow: 1px 1px 10px #000000 ;
}
.posicaoFoto{
    position: absolute;
    margin: auto -5%;
}

/*Rede Social*/
.social{
    display: inline-block;
    position: relative;
    text-align: center;
    top: 89%;
}

.logoRedeSocial{
    height: 20px;
    width: 20px;
}