/*menu*/
/*ACRESCENTAR NO MENU OS LOGOS E AS REDES SOCIAIS AOU INVÉS DE "HOME CONTATO..."*/
body{
    font-family: 'Kanit', sans-serif;  
}

header{
    background:url(img/footer.jpg);  
    padding: 20px 0 ;
}

.menu{
    position: relative;
    width: 85%;
    margin: 0 100px;
}
.logoimg{
    width: 100px; 
    height: 200px;
}

.logoimg:hover{
    transition: 1500ms;
    transform: rotate3d(0, 1, 0, 360deg);
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color:rgb(56,56,56);
    text-shadow: 1px 1px black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover{
    transition: 400ms;
    color: #003366;
}


/*main*/
main{
    height: 1600px;
   background: linear-gradient(-90deg,rgb(60,67,84), rgb(16,16,16), rgb(32,32,32),rgb(48,48,48),rgb(32,32,32), rgb(16,16,16),rgb(60,67,84));
   text-align: center;
}
main p{
    font-family: 'Teko', sans-serif;
    text-align: center;
    position: absolute;
    padding: 200px;
    font-size: 20px;
}

/*footer*/
footer{
    text-align: center;
    background:url(img/footer.jpg);  
    padding: 100px 0;
}

.copyright{
    position: relative;
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 13px;
    font-weight: lighter;    
}